<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1140, initial-scale=0.3, maximum-scale=0.36">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%- meta %>
  <%- title %>
  <%- link %>
  <%- style %>
</head>
<body>
  <div id="root"><%- appString %></div>

  <%- initalState %>
  <%- scripts %>
</body>
</html>
